services:
  # Application PHP + Apache
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
      - mongodb
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=biblio_app_sql
      - DB_USER=root
      - DB_PASSWORD=root
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017

  # Base de données MySQL
  mysql:
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: biblio_app_sql
    volumes:
      - mysql_data:/var/lib/mysql

  # Base de données MongoDB
  mongodb:
    image: mongo:7.0
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mysql_data:
  mongo_data:
